/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.traffic-light {
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.light{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}
.red{ background: red;}
.yellow{ background: yellow;}
.green{ background: green;}
.glow{ 
    box-shadow: 0px 0px 10px 5px red;}
    .glow2{ 
    box-shadow: 0px 0px 10px 5px rgb(223, 223, 22);}    
    .glow3{
    box-shadow: 0px 0px 15px 5px rgb(30, 204, 30);}
    .icon-container{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        padding: 20px;
        
    }
   .glow5{
    box-shadow: 0px 0px 15px 5px rgb(30, 204, 30);}
    .icon-container{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        padding: 20px;
   }
     
